body {
    justify-content: center;
    font-family: 'Helvetica';
    max-width: 900px;
    margin: 5vh auto;
    background-color: #313338;
    color: white;
}

#movie {
    display: flex; 
    text-align: center; 
    background: rgba(73, 117, 156, 0.5); 
    margin: 40px
}

#reviews_div {
    padding: 10px;
    margin: 10px;
}

#review-text {
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: calc(100% - 60px);
    height: 200px;
    padding: 20px;
    margin: 10px;
    font-family: 'Helvetica';
}

#form {
    align-items: right;
}

.review {
    border: 3px solid #575963;
    padding: 10px 30px;
    border-radius: 9px;
    margin: 1vh auto;
}


/* Starry Starry Night ~ Vincent Van Gogh */
.review-star {
    color: orange;
}

/* Form Button (I love transitions) */
.form-btn {
    background-color: #3F51B5;
    box-shadow: #3F51B533 0 -25px 18px -14px inset, #3F51B533 0 1px 2px, #3F51B533 0 2px 4px, #3F51B533 0 4px 8px, #3F51B533 0 8px 16px, #3F51B533 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 20px;
}

.form-btn:hover:enabled {
    box-shadow: #3F51B540 0 -25px 18px -14px inset, #3F51B540 0 1px 2px, #3F51B540 0 2px 4px, #3F51B540 0 4px 8px, #3F51B540 0 8px 16px, #3F51B540 0 16px 32px;
    transform: scale(1.05) translateY(-0.5vh);
}

.form-btn:active:enabled {
    box-shadow: none;
    transform: none;
    font-weight: bold;
}

.form-btn:disabled,
.form-btn[disabled] {
    box-shadow: none;
    background-color: #cccccc;
    color: #666666;
}