body {
    display: flex;
    justify-content: center;
    font-family: 'Helvetica';
    background: #000;
}

.chatbot-container {
    width: 500px;
    margin: 0 auto;
    background-color: #1F1C1C;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chatbot {
    background-color: #1F1C1C;
    border: 1px solid #110f0f;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#header {
    background-color: darkslategrey;
    color: #ffffff;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
}

message-container {
    background: #000;
    width: 100%;
    display: flex;
    align-items: center;
}

#conversation {
    height: 500px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@keyframes message-fade-in {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.chatbot-message {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 0 15px;
}

.user-message {
    justify-content: flex-end;
}


.chatbot-text {
    background-color: #383838;
    color: #eee;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-text {
    background-color: #025C4C;
}

#input-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #110f0f;
}

#input-field {
    flex: 1;
    height: 60px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    color: #eee;
    background: #000;
    border: none;
}

.send-icon {
    margin-right: 10px;
    cursor: pointer;
}

#input-field:focus {
    border-color: #333333;
    outline: none;
}

#submit-button {
    background-color: transparent;
    border: none;
}

p[sentTime]:hover::after {    
    content: attr(sentTime);
    position: absolute;
    top: -3px;
    font-size: 14px;
    color: gray;
}

.chatbot p[sentTime]:hover::after {  
    left: 15px;
}

.user-message p[sentTime]:hover::after {  
    right: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}