<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    
    <link rel="stylesheet" href="static/app.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div id="chatbox">
            <p class="container">Hi! I'm Blenderbot.</p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
        </div>
        <script>
            function appendAll(data) {
                $("#chatbox").append(data.user);
                $("#chatbox").append(data.bot);
                document.getElementById('userInput').scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                });
            }

            function getBotResponse() {
                var text = $("#textInput").val();
                $("#textInput").val("");
                $.get("/get", {
                    msg: text
                }).done(appendAll);
            }
            $("#textInput").keypress(function(e) {
                if (e.which == 13) getBotResponse();
            });
            $("#buttonInput").click(getBotResponse)
        </script>
    </div>
</body>

</html>